@import "tailwindcss";

@layer utilities {
    .glass-panel {
        background-color: rgba(15, 23, 42, 0.4);
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(24px);
        border: 1px solid rgba(255, 255, 255, 0.1);
    }

    .scanline {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, transparent 50%, rgba(0, 255, 170, 0.02) 50%);
        background-size: 100% 4px;
        animation: scan 1s linear infinite;
    }

    @keyframes scan {
        from {
            transform: translateY(0);
        }

        to {
            transform: translateY(100%);
        }
    }
}